/* General styling */
@import url('https://fonts.googleapis.com/css2?family=Raleway&family=Shadows+Into+Light&display=swap');

* {
    margin: 0;
    padding: 0;
    font-size: 1.2rem;
    font-family: 'Raleway', sans-serif;
}

.pagelayout {
    display: flex;
    justify-content: flex-start;
    height: 100vh;
}

/* Sidebar styling */

h1 { 
    font-size: 2.5rem;
    font-weight: 900;
}

#logo {
    height: 50px;
    width: auto;
    filter: invert(29%) sepia(34%) saturate(840%) hue-rotate(45deg) brightness(89%) contrast(95%);
}

img {
    height: 30px;
    width: auto;
    filter: invert(93%) sepia(44%) saturate(3398%) hue-rotate(321deg) brightness(110%) contrast(98%);
}

input {
    outline: none;
    border: 1px solid #365314;
    flex:1;
    padding: 5px;
}

.input {
    display: flex;
}

input[type=checkbox] {
    transform: scale(1.5);
}

.sidebar {
    width: 30vw;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 3fr 11fr 1fr 9fr 1fr;
    background-color: #d4d4d4;
    gap: 10px;
}

#form {
    display: flex;
    flex-direction: column;
    justify-content:space-between;
}

.MyLibrary, #form {
    padding: 20px;
}

.buttoncontainer {
    margin-left: 20px;
}

.MyLibrary, #form {
    color: #365314;
}

#addbook {
    color: #d6d3d1;
    background-color: #365314;
    padding: 10px;
}

#onestar, #twostar, #threestar {
    width: 30px;
    height: auto;
}

.stars {
    filter: invert(29%) sepia(34%) saturate(840%) hue-rotate(45deg) brightness(89%) contrast(95%);
}

.ratingstars {
    filter: invert(93%) sepia(44%) saturate(3398%) hue-rotate(321deg) brightness(110%) contrast(98%);
}

.footer {
    font-size: 0.7rem;
    color: #365314;
    display: flex;
    justify-content: flex-start;
    padding-left: 20px;
}

/* Main content styling */

.maincontent {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 3vh;
    background-color: #f1f5f9;
    align-items: center;
    gap: 3vh;
}

.book-header {
    height: 5vh;
    width: 70vw;
    background-color: #365314;
    box-sizing: border-box;
}

.book-list {
    justify-content: flex-start;
    display: flex;
    flex-direction: column;
    overflow:auto;
}

.library-header {
    color: #d6d3d1;
    border-bottom: none;
}

#library-header {
   height: 5vh;
   align-items: center;
   padding-left: 1vw;
   padding-right: 1vw;
}

.fa-times {
    color: #b91c1c;
}

.fa-check {
    color: #0369a1;
}

.fa-trash {
    color: #171717;
}

tr {
    display: grid;
    grid-template-columns: 4fr 2fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    justify-items:flex-start;
    gap:1vw;
    color: #365314;
    height: auto;
    width: 70vw;
    border-bottom: 1px dashed #365314;
}